<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listeners class-name="listener.listener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="listerner.ListenerTestTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
